* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

header {
    background: url(../img/harmonia\ sonorora_20240914_144050_0000.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.ext-1 {
    background-color: #000000;
}

.ext-2 {
    background-color: #95d401;
}

div.not-1, div.not-2, div.not-3, div.not-4, div.not-5, div.not-6, div.not-7 {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

div.not-1 {
    color: white;
    width: calc(100% - 40px);
}

div.not-1 > div > h1 {
    color: #95d401;
}

div.not-2 {
    color: #000000;
    width: calc(100% - 40px);
}

div.not-2 > div {
    margin: auto;
    padding: 20px;
}

p {
    max-width: 450px;
}

img {
    margin: auto;
}

div {
    margin: auto;
}

div.not-3 > div > h1 {
    color: #cf0653;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 10px;
  font-size: 2.3rem;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.2rem;
}

img {
    width: 300px;
}